Source: kmfl-keyboard-telugu
Section: x11
Priority: optional
Maintainer: Indic Dev <indic_dev@sil.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3

Package: kmfl-keyboard-telugu
Architecture: all
Depends: kmfl-keyboard-indic-common, ${misc:Depends}
Recommends: ttf-telugu-fonts
Description: Keyboard for Telugu script
 Keyboard used with Keyman on Windows
 and now with IBus on Debian/Ubuntu.
 .
 Layout is the same as the Winscript Telugu layout.
